<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>home</title>
    <!-- Custom fonts for this template dash board-->
    <link href="{{ url_for('static',filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{{ url_for('static',filename='css/sb-admin-2.min.css') }}" rel="stylesheet">


</head>

<body id="page-top">
<div hidden id="countdown"></div>
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Opinion mining<sup></sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Accueil -->
        <li class="nav-item active">
            <a href="#" class="nav-link">
                <i class="fa fa-home" aria-hidden="true"></i>
                <span>Accueil</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Type Insertion
        </div>


        <!-- Nav Item - insert from text -->


        <li class="nav-item active ">
            <a href="#" onclick="addpopretext()" class="nav-link">
                <i class="fab fa-readme"></i>
                <span>Texte</span></a>
        </li>
        <!-- Nav Item - twitter -->
        <li class="nav-item active">
            <a href="#" onclick="addtweetr()" class="nav-link">
                <i class="fab fa-twitter"></i>
                <span>Twitter</span></a>
        </li>
        <!-- Nav Item - file -->
        <li class="nav-item active">
            <a href="#" onclick="addfichiertext()" class="nav-link">
                <i class="fas fa-file-upload"></i>
                <span>File</span></a>
        </li>


        <!-- Divider -->
        <hr class="sidebar-divider">


        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column ">

        <!-- piece one top -->
        <div class="d-flex flex-column">
            <div style="margin-top: 10px;" class="row  justify-content-md-center">
                <div class="row">
                    <p style="font-size:60px" class="text-secondary">Classification d'opinion </p>
                    <p id="emoji" style="font-size:60px">&#128540;</p>
                </div>
            </div>
        </div>
        <!-- piece two medium -->
        <div id="maincontainerglobal" class="d-flex flex-column">
            <!-- button text-->

            <div id="cadretexte" class="card shadow mb-4 card border-left-primary shadow h-100 py-2 mx-2 my-2">
                <div class="d-flex flex-row justify-content-center card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">inserer text</h6>
                </div>
                <div class="d-flex flex-row justify-content-center card-body">
                    <form action="/res" method="post" id="usrform1">
                        <textarea id="textarea" placeholder="Entrer votre texte ici ..... EX :This car is beautiful. "
                                  lang="en" rows="7" cols="100" id="input" name="input" form="usrform1"
                                  spellcheck="true"></textarea>
                        <div class="d-flex flex-row justify-content-around">
                            <div class="input-group-append">
                                <button disabled type="submit" id="button"
                                        class="btn btn-primary">
                                    pre-traitemnt
                                </button>
                                <button style="margin-left:10px" type="reset" class="btn btn-danger">supprimer</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>


            <!-- button twitter-->

            <div id="cadretwitter" hidden class="card shadow mb-4 card border-left-primary shadow h-100 py-2 mx-2 my-2">
                <div class="d-flex flex-row justify-content-center card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Twitter</h6>
                </div>
                <div class="d-flex flex-row justify-content-center card-body">
                    cette option nous permettre de cherche un sujet depuis twitter.
                </div>
                <div class="d-flex flex-row justify-content-around px-2 py-2">
                    <form method="post" id="usrform2" action="/GetTextFromTwitter">
                        <input type="text" class="form-control" name="subject" placeholder="Sujet">
                    </form>
                </div>
                <div class="d-flex flex-row justify-content-around">

                    <a href="#" onclick="submitform()" class="btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                <i class="fas fa-chevron-circle-right"></i>
            </span>
                        <span class="text">next</span>
                    </a>
                </div>

            </div>

            <div id="cadretfile" hidden class="card shadow mb-4 card border-left-primary shadow h-100 py-2 mx-2 my-2">
                <div class="d-flex flex-row justify-content-center card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Twitter</h6>
                </div>
                <div class="d-flex flex-row justify-content-center card-body">
                    cette option nous permettre de selectioner fichier.
                </div>
                <div class="d-flex flex-row justify-content-around px-2 py-2">
                    <form style="width: 100%" method="post" action="/res">
                        <div class="input-group">
                            <div class="custom-file">
                                <input onchange="uploadfile()" type="file" class="custom-file-input" id="upload">
                                <label id="filetext" class="custom-file-label" for="upload">Choose file</label>
                            </div>
                            <div class="input-group-append">
                                <button onclick="uploadfile()" class="btn btn-outline-secondary" type="submit">Button
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>


    </div>
    <!-- End of Content Wrapper -->


    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->


    <!-- Bootstrap core JavaScript-->

    <script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static',filename='js/sb-admin-2.min.js') }}"></script>

    <!-- Page level plugins -->
    <script src="{{ url_for('static',filename='vendor/chart.js/Chart.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static',filename='js/demo/chart-area-demo.js') }}"></script>
    <script src="{{ url_for('static',filename='js/demo/chart-pie-demo.js') }}"></script>

    <script src="{{ url_for('static',filename='js/main.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ url_for('static',filename='js/myfunction.js') }}"></script>
    <script src="{{ url_for('static',filename='js/createinterface.js') }}"></script>

    <!-- progress bar-->
    <script src="{{ url_for('static',filename='js//dist/jquery.progressBarTimer.min.js') }}"></script>


    <script>
        $('#textarea').on('keyup', function () {
            let empty = false;

            $('#textarea').each(function () {
                empty = $(this).val().length == 0;
            });

            if (empty)
                $('#button').attr('disabled', 'disabled');
            else
                $('#button').attr('disabled', false);
        });
    </script>
    <script>
        function uploadfile() {
            var input = document.getElementById('filetext');
            var fullPath = document.getElementById('upload').value;
            if (fullPath) {
                var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
                var filename = fullPath.substring(startIndex);
                if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
                    filename = filename.substring(1);
                }
                input.innerText = filename;
            }
        }

        function starprogress() {
            document.getElementById("countdown").hidden = false;
            $("#countdown").progressBarTimer({
                autoStart: true,
                timeLimit: 10, //total number of seconds
                warningThreshold: 5, //seconds remaining triggering switch to warning color
                autoStart: true, // start the countdown automatically //invoked once the timer expires
                baseStyle: '', //bootstrap progress bar style at the beginning of the timer
                warningStyle: 'bg-danger', //bootstrap progress bar style in the warning phase
                smooth: false, // should the timer be smooth or stepping
                completeStyle: 'bg-success', //bootstrap progress bar style at completion of timer
                onFinish: function () {
                    document.getElementById("usrform1").submit();
                }
            });
        }
    </script>
</div>
</body>

</html>
