<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Resultat</title>
    <!-- Custom fonts for this template dash board-->
    <link href="{{ url_for('static',filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{{ url_for('static',filename='css/sb-admin-2.min.css') }}" rel="stylesheet">


</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Opinion mining<sup></sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Accueil -->
        <li class="nav-item active">
            <a class="nav-link">
                <i class="fa fa-home" aria-hidden="true"></i>
                <span>Accueil</span></a>
        </li>


        <!-- Heading -->
        <div class="sidebar-heading">
            statistique
        </div>

        <!-- Nav Item - Pages Collapse Menu segementation -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages1"
               aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-align-justify"></i>
                <span>graphe</span>
            </a>
            <div id="collapsePages1" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" data-toggle="modal" data-target="#exampleModal">graphique anneaux</a>
                </div>
            </div>
        </li>
        <!-- Nav Item - Pages Collapse Menu modeles -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages2"
               aria-expanded="true" aria-controls="collapsePages">
                <i class="fab fa-hubspot"></i>
                <span>Modeles</span>
            </a>
            <div id="collapsePages2" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">modeles</h6>
                    <a class="collapse-item">verbe</a>
                    <a class="collapse-item">nom</a>
                    <a class="collapse-item">adjective</a>
                    <div class="collapse-divider"></div>
                    <h6 class="collapse-header">polarite</h6>
                    <a class="collapse-item">verbe</a>
                    <a class="collapse-item">nom</a>
                    <a class="collapse-item">adjective</a>>
                </div>
            </div>
        </li>
        <!-- Nav Item - Pages Collapse Menu mots -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
               aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-file-word"></i>
                <span>Elemnt de texte:</span>
            </a>
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <ul class="list-group">
                        <li data-toggle="modal" data-target="#list_verb"
                            class="list-group-item d-flex justify-content-between align-items-center">
                            verbe :
                            <span class="badge badge-primary badge-pill">{{session['stat_verb']|length}}</span>
                        </li>
                        <li data-toggle="modal" data-target="#list_adj"
                            class="list-group-item d-flex justify-content-between align-items-center">
                            adjective :
                            <span class="badge badge-primary badge-pill">{{session['stat_adj']|length}}</span>
                        </li>
                        <li data-toggle="modal" data-target="#list_nom"
                            class="list-group-item d-flex justify-content-between align-items-center">
                            noms :
                            <span class="badge badge-primary badge-pill">{{session['stat_nom']|length}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            autre :
                            <span class="badge badge-primary badge-pill">{{session['stat_total']}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column ">

        <!-- piece one top -->
        <div class="d-flex flex-column">
            <div style="margin-top: 10px;" class="row  justify-content-md-center">
                <div class="row">
                    <p style="font-size:60px" class="text-secondary">Classification d'opinion </p>
                    <p id="emoji" style="font-size:60px">&#128540;</p>
                </div>
            </div>


        </div>

        <!-- piece two medium -->
        <div id="maincontainerglobal" class="d-flex flex-column">
            <!-- collabe-->

            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                correction d'othographe
                            </button>
                            <button class="btn btn-danger btn-sm btn-icon-split">
                                <div>
                                    <span class="text">erreurs</span>
                                    <span id="nbr_errors" class="badge badge-light mx-2">{{session['list_word'][0]|length}}</span>
                                </div>
                                <span class="icon text-white-50">
                                      <i class="fas fa-times-circle"></i>
                                    </span>
                            </button>
                            <button onclick="reprocess_correction()"
                                    class="btn btn-primary btn-sm float-right btn-icon-split">
                                <div>
                                    <span class="text">retraitement</span>
                                </div>
                                <span class="icon text-white-50">
                                      <i class="fas fa-times-circle"></i>
                                    </span>
                            </button>
                        </h5>

                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <!-- correction-->

                            <div class="card shadow mb-4 card border-left-primary shadow h-100 py-2 mx-2 my-2">
                                <div class="d-flex flex-row justify-content-center card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Texte</h6>
                                </div>
                                <h5 class="m-0 font-weight-bold text-primary mx-2">langue est :
                                    {{session['language']}}</h5>
                                <div class="d-flex flex-row justify-content-center card-body">
                                    <form class="d-flex " id="form_correction" method="post" action="/res">
                                        <input type="hidden" name="id_reprocess" value="form_correction">
                                        <textarea lang="en" rows="7" cols="100" name="content" class="form-control"
                                                  id="exampleFormControlTextarea1"
                                                  rows="3">{{session['content']}}</textarea>
                                    </form>

                                </div>
                                {% for j in range(session['list_word'][0]| length) %}
                                <div class="row justify-content-star align-items-center ml-4">
                                    <span>{{session['list_word'][0][j]}}</span> :
                                    {% for i in range(session['list_suggestion'][0][j]| length) %}
                                    <button id="aziz" onclick="correction(this)" href="#"
                                            class="btn btn-danger btn-icon-split px-2 mx-2  my-2">
                                        {{session['list_suggestion'][0][j][i]}}
                                    </button>
                                    {% endfor %}

                                </div>
                                {% endfor %}
                            </div>


                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                segmentation
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <div id="segmentationaccordion">
                                <div class="card">
                                    <div class="card-header" id="segmentationheadingOne">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse"
                                                    data-target="#segmentationcollapseOne" aria-expanded="true"
                                                    aria-controls="segmentationcollapseOne">
                                                segmentation par phrase
                                            </button>
                                            <a href="#" class="btn btn-info btn-icon-split">

                                                <span class="text">{{session['phrase']|length}}</span>
                                                <span class="icon text-white-50">
                      <i class="fas fa-align-justify"></i>
                    </span>
                                            </a>
                                        </h5>
                                    </div>

                                    <div id="segmentationcollapseOne" class="collapse" aria-labelledby="headingOne"
                                         data-parent="#segmentationaccordion">
                                        <div class="card-body">

                                            <div class="card shadow mb-4 card border-left-primary shadow h-100 py-2 mx-2 my-2">
                                                <div class="d-flex flex-row justify-content-center card-header py-3">
                                                    <h6 class="m-0 font-weight-bold text-primary">Liste des phrases</h6>
                                                </div>
                                                {% for n in range(session['phrase']| length) %}
                                                <label class="ml-3">{{session['phrase'][n]}}</label>
                                                <hr class="mx-4">
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="segmentationheadingTwo">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                                    data-target="#segmentationcollapseTwo" aria-expanded="false"
                                                    aria-controls="segmentationcollapseTwo">
                                                segmentation par sous phrase
                                            </button>
                                            <a href="#" class="btn btn-info btn-icon-split">
                                                <span class="text">{{session['sub_sentence']|length}}</span>
                                                <span class="icon text-white-50">
                      <i class="fas fa-align-justify"></i>
                    </span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="segmentationcollapseTwo" class="collapse"
                                         aria-labelledby="segmentationheadingTwo"
                                         data-parent="#segmentationaccordion">
                                        <div class="card-body">
                                            <div class="card shadow mb-4 card border-left-primary shadow h-100 py-2 mx-2 my-2">
                                                <div class="d-flex flex-row justify-content-center card-header py-3">
                                                    <h6 class="m-0 font-weight-bold text-primary">Liste des phrases</h6>
                                                </div>
                                                {% for n in range(session['sub_sentence']| length) %}
                                                <label class="ml-3">{{session['sub_sentence'][n]}}</label>
                                                <hr class="mx-4">
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="subjectivityheadingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#subjectivitycollapseOne"
                                    aria-expanded="true" aria-controls="subjectivitycollapseOne">
                                subjectvite
                            </button>
                            <button class="btn btn-success btn-sm btn-icon-split">
                                <div>
                                    <span class="text">subjective</span>
                                    <span class="badge badge-light mx-2">{{session['nbr_sub']}}</span>
                                </div>
                                <span class="icon text-white-50">
                      <i class="fas fa-info-circle"></i>
                    </span>
                            </button>
                            <button class="btn btn-info btn-sm btn-icon-split">
                                <div>
                                    <span class="text">objectif</span>
                                    <span class="badge badge-light mx-2">{{session['nbr_obj']}}</span>
                                </div>
                                <span class="icon text-white-50">
                      <i class="fas fa-info-circle"></i>
                                      </span>
                            </button>
                            <button onclick="reprocess_subjectivity()"
                                    class="btn btn-primary btn-sm float-right btn-icon-split">
                                <div>
                                    <span class="text">retraitement</span>
                                </div>
                                <span class="icon text-white-50">
                                      <i class="fas fa-times-circle"></i>
                                    </span>
                            </button>

                        </h5>
                    </div>

                    <div id="subjectivitycollapseOne" class="collapse" aria-labelledby="subjectivityheadingOne"
                         data-parent="#accordion">
                        <div class="card-body">

                            <div class="card shadow mb-4 card border-left-primary shadow h-100 py-2 mx-2 my-2">
                                <div class="d-flex flex-row justify-content-center card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Liste des phrases et subjectivite</h6>
                                </div>

                                <form id="form_subjectivity" action="/res" method="post"
                                      class="d-flex flex-column mx-4 my-4">
                                    <input type="hidden" name="id_reprocess" value="form_subjectivity">
                                    {% for n in range(session['sub_sentence']| length) %}
                                    <div class="d-flex flex-row align-items-center">
                                        <h5 class="ml-3" id="input" name="input{{n}}" value="1">
                                            {{session['sub_sentence'][n]}}</h5>
                                        <input type="hidden" name="r_id{{n}}" value="{{session['sub_sentence'][n]}}"/>
                                        <div class="btn-group btn-group-toggle mx-2" data-toggle="buttons">
                                            {% if session['subjective_state'][n] %}
                                            <label class="btn btn-outline-primary btn-sm active">
                                                <input type="radio" name="optradio{{n}}" value="true" autocomplete="off"
                                                       checked> subjectif
                                            </label>
                                            <label class="btn btn-outline-primary btn-sm">
                                                <input type="radio" name="optradio{{n}}" value="true"
                                                       autocomplete="off"> objectif
                                            </label>
                                            {% else %}
                                            <label class="btn btn-outline-primary btn-sm active">
                                                <input type="radio" name="optradio{{n}}" value="true" autocomplete="off"
                                                > subjectif
                                            </label>
                                            <label class="btn btn-outline-primary btn-sm">
                                                <input type="radio" name="optradio{{n}}" value="true"
                                                       autocomplete="off" checked> objectif
                                            </label>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <hr class="mx-4">
                                    {% endfor %}
                                </form>


                            </div>


                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0 ">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                                    aria-expanded="false" aria-controls="collapseThree">
                                resultat final
                            </button>
                            <button class="btn btn-success btn-sm btn-icon-split mx-2"
                               data-toggle="modal" data-target="#list_connector">
                                <div>
                                    <span class="text">connector</span>
                                    <span class="badge badge-light mx-2">{{session['total_connectors']|length}}</span>
                                </div>
                                <span class="icon text-white-50">
                      <i class="fas fa-info-circle"></i>
                    </span>
                            </button>
                            <button class="btn btn-secondary btn-sm btn-icon-split mx-2"
                               data-toggle="modal" data-target="#list_neg">
                                <div>
                                    <span class="text">negation</span>
                                    <span class="badge badge-light mx-2">{{session['total_negation']|length}}</span>
                                </div>
                                <span class="icon text-white-50">
                      <i class="fas fa-info-circle"></i>
                    </span>
                            </button>
                            <button class="btn btn-info btn-sm btn-icon-split mx-2"
                               data-toggle="modal" data-target="#list_adv">
                                <div>
                                    <span class="text">adverbe</span>
                                    <span class="badge badge-light mx-2">{{session['total_adverbe']|length}}</span>
                                </div>
                                <span class="icon text-white-50">
                      <i class="fas fa-info-circle"></i>
                    </span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse show" aria-labelledby="headingThree"
                         data-parent="#accordion">
                        <div class="card-body">
                            <div id="resultaccordion">
                                <div class="card">
                                    <div class="card-header" id="resultheadingOne">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse"
                                                    data-target="#resultcollapseOne" aria-expanded="true"
                                                    aria-controls="resultcollapseOne">
                                                resultat detaille
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="resultcollapseOne" class="collapse" aria-labelledby="resultheadingOne"
                                         data-parent="#resultaccordion">
                                        <div class="card-body">
                                            <div class="card shadow mb-4">
                                                <div class="card-header py-3">
                                                    <h6 class="m-0 font-weight-bold text-primary">Résultat Détaillé</h6>
                                                    <button class="btn btn-success btn-icon-split mx-2 my-2"
                                                            onclick="save_table()">
                                                        <span>download table to exel
                                                    </span>
                                                        <span>
                                                            <i class="fas fa-download"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered table-striped" id="dataTable"
                                                               width="100%" cellspacing="0">
                                                            <thead>
                                                            <tr class="table-primary">
                                                                <th style="width: 40%">Phrase</th>
                                                                <th style="width: 40%">Modèle générale</th>
                                                                <th style="width: 10%">Polarité</th>
                                                                <th style="width: 10%">Visualisation</th>
                                                            </tr>
                                                            </thead>
                                                            <tfoot>
                                                            <tr class="table-primary">
                                                                <th>Phrase</th>
                                                                <th>Modèle générale</th>
                                                                <th>Polarité</th>
                                                                <th>Visualisation</th>
                                                            </tr>
                                                            </tfoot>
                                                            <tbody>
                                                            {% for i in range(session['subjective_sentences']|length) %}
                                                            <tr>
                                                                <td>{{session['subjective_sentences'][i]}}</td>
                                                                <td>{{session['model_global'][i]}}</td>
                                                                <td>Edinburgh</td>
                                                                <td>61</td>
                                                            </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="resultheadingTwo">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                                    data-target="#resultcollapseTwo" aria-expanded="false"
                                                    aria-controls="resultcollapseTwo">
                                                resultat final
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="resultcollapseTwo" class="collapse show" aria-labelledby="resultheadingTwo"
                                         data-parent="#resultaccordion">
                                        <div class="card-body">
                                            resultat final
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
    </div>
    <input id="nbr_verb" type="hidden" value="{{session['stat_verb']|length}}">
    <input id="nbr_adj" type="hidden" value="{{session['stat_adj']|length}}">
    <input id="nbr_nom" type="hidden" value="{{session['stat_nom']|length}}">
    <input id="nbr_autre" type="hidden" value="{{session['stat_total']}}">

    <!-- dialog statistic -->

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">phraphe en anneaux</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="chart-pie pt-4">
                        <canvas id="mon_model"></canvas>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">fermer</button>
                    <a href="#" id="save_button" onclick="save_graphe()" type="button"
                       class="btn btn-primary">sauvgarder</a>
                </div>
            </div>
        </div>
    </div>


    <!-- dialog liste des elemnt -->

    <div class="modal fade" id="list_verb" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">liste des verbes</h5>
                </div>
                <div class="modal-body">
                    {% for item in session['stat_verb'] %}
                    <span class="badge badge-secondary">{{item}}</span>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="list_adj" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">liste des adjectifs</h5>
                </div>
                <div class="modal-body">
                    {% for item in session['stat_adj'] %}
                    <span class="badge badge-secondary">{{item}}</span>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="list_nom" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">liste des noms</h5>
                </div>
                <div class="modal-body">
                    {% for item in session['stat_nom'] %}
                    <span class="badge badge-secondary">{{item}}</span>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="list_neg" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">liste des negation</h5>
                </div>
                <div>
                    {% for item in session['total_negation'] %}
                    <span class="badge badge-info mx-2">{{item}}</span>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="list_connector" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">liste des connecteur</h5>
                </div>
                <div class="modal-body">
                    {% for item in session['total_connectors'] %}
                    <span class="badge badge-secondary">{{item}}</span>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="list_adv" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">liste des adverbe</h5>
                </div>
                <div class="modal-body">
                    {% for item in session['total_adverbe'] %}
                    <span class="badge badge-secondary">{{item}}</span>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End of Content Wrapper -->


<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->

<!-- Bootstrap core JavaScript-->
<script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Core plugin JavaScript-->
<script src="{{ url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

<!-- Custom scripts for all pages-->
<script src="{{ url_for('static',filename='js/sb-admin-2.min.js') }}"></script>

<!-- Page level plugins -->
<script src="{{ url_for('static',filename='vendor/chart.js/Chart.min.js') }}"></script>

<!-- Page level custom scripts -->
<script src="{{ url_for('static',filename='js/demo/chart-area-demo.js') }}"></script>
<script src="{{ url_for('static',filename='js/demo/chart-pie-demo.js') }}"></script>

<script src="{{ url_for('static',filename='js/main.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{{ url_for('static',filename='js/myfunction.js') }}"></script>
<script src="{{ url_for('static',filename='js/createinterface.js') }}"></script>

<!-- table -->
<script src="{{ url_for('static',filename='vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/demo/datatables-demo.js') }}"></script>

<!-- graphique -->
<script src="{{ url_for('static',filename='vendor/chart.js/Chart.min.js') }}"></script>

<!-- download file -->
<script src="{{ url_for('static',filename='vendor/exportfile/tableHTMLExport.js') }}"></script>


<script>

    statistic();
    $('#textarea').on('keyup', function () {
        let empty = false;

        $('#textarea').each(function () {
            empty = $(this).val().length == 0;
        });

        if (empty)
            $('#button').attr('disabled', 'disabled');
        else
            $('#button').attr('disabled', false);
    });

</script>
</body>

</html>
