<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>

<body>
<form action="/ConnectorSegmentation" method="post" id="usrform">
    <h1>Filtrage par subjectivite</h1>
    <table>
    {% for n in range(sentences| length) %}
    <tr>
    <td>
        <label id="input" name="input{{n}}"  value="1"> {{sentences[n]}}</label>
    <input type="hidden" name="r_id{{n}}" value="{{sentences[n]}}"/>
    </td>
        <td>
    {% if subjective_state[n] %}
    porteur d'opinion : <input type="radio" name="imgsel{{n}}" value="true" checked="checked" />
    non porteur d'pinion : <input type="radio" name="imgsel{{n}}" value="false"  />
    {% else %}
    porteur d'opinion : <input type="radio" name="imgsel{{n}}" value="true"  />
    non porteur d'pinion : <input type="radio" name="imgsel{{n}}" value="false" checked="checked" />
    {% endif %}
        </td>
    </tr>
    {% endfor %}
    </table>
    </br>
    <button type="submit" formaction="/ConnectorSegmentation">segmentation par connecteur</button>
</form>

</body>
</html>