<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>resultat</title>
    <style>
        td /* Toutes les cellules des tableaux... */
        {
            border: 1px solid black; /* auront une bordure de 1px */
        }

        h1, h3, p, h2 {
            text-align: center;
        }

        table {

            margin-left: auto;
            margin-right: auto;
        }


    </style>
</head>
<body>
<h1>Extraitre modeles verbe adjective et nom avec connectuer</h1>
<table>
    <tr>
        <td> <strong> numero  </strong></td>
        <td> <strong>phrases </strong></td>
        <td> <strong>les elements extracté </strong></td>
        <td> <strong>polarite verbe et adjective </strong></td>
        <td> <strong>emoji</strong></td>
    </tr>
    {% for n in range(sentences| length) %}
    <tr>
        <td> {{n+1}}</td>
        <td>{{sentences[n]}}</td>
        <td>modele verbes : {{verbs[n]}}</br>modele adjs : {{adjs[n]}} </br> modele nom : {{nouns[n]}} <br> connector:{{connectors[n]}}</td>
        <td>
            <strong>polarite modele verbe:</strong> {{array_polarity_verbe[n]}}
        <br>
            <strong>polarite modele adjective:</strong> {{array_polarity_adjective[n]}}
        </td>
        <td> verbe: &#{{emoji_verb[n]}}
        <br>
            adjective: &#{{emoji_adjective[n]}}
        </td>


    </tr>
    {% endfor %}
</table>
</body>
</html>